<% content_for :extra_js do %>
  Admin.sortable('.model-list');
<% end %>

<h1>Listing Branches</h1>

<ul class="list-unstyled model-list">
  <% @branches.each do |branch| %>
    <li data-url="<%= branch_path(branch) %>">
      <span class="icon">
        <i class="fa fa-border fa-arrows"></i>
      </span>
      <span><%= branch.title %></span>
      <span class="control">
        <%= link_to branch do %>
          <i class="fa fa-border fa-folder-open"></i>
        <% end %>
        <%= link_to edit_branch_path(branch) do %>
          <i class="fa fa-border fa-edit"></i>
        <% end %>
        <%= link_to branch, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="fa fa-border fa-trash"></i>
        <% end %>
      </span>
    </tr>
  <% end %>
</ul>

<%= link_to 'New Branch', new_branch_path %>
