<section class="split">
	<div class="split-image" style="background-image:url('<%= asset_path('field-and-mountains.jpg') %>');"></div>
	<div class="split-content">
		<h2><i><%= t 'our_winery' %></i></h2>
		<p class="line-2"><%= t 'winery.description' %></p>
		<p><b><i><%= t 'winery.text' %></i></b></p>
		<%= link_to 'Ver más.', about_path, class: 'tilted' if params['action'] == 'home' %>
	</div>
</section>