<section class="content">
	<div class="container">
		<div class="divided divide-xs-2 divide-sm-4">
			<div class="division">
				<div class="card-mini">
					<div class="card-mini-image-container">
						<%= image_tag 'price-1.png', class: 'card-mini-image' %>
					</div>
					<div class="card-mini-caption">
						<div class="card-mini-caption-content">
							<ul class="list-unstyled">
								<li><%= t 'international_competition' %></li>
								<li>Mundus Vini (Alemania)</li>
								<li>Awards 2015</li>
								<li><%= t 'viento_sur_late_harvest' %></li>
								<li>Vintage: 2015</li>
								<li><%= t 'silver_medal' %></li>
							</ul>
							<%= link_to t('see_more'), awards_path, class: 'tilted' if params['action'] != 'awards' %>
						</div>
					</div>
				</div>
			</div>
			<div class="division">
				<div class="card-mini">
					<div class="card-mini-image-container">
						<%= image_tag 'price-2.png', class: 'card-mini-image' %>
					</div>
					<div class="card-mini-caption">
						<div class="card-mini-caption-content">
							<ul class="list-unstyled">
								<li><%= t 'international_competition' %></li>
								<li>Mundus Vini (Alemania)</li>
								<li>Awards 2014</li>
								<li>Doscumbres</li>
								<li>Vintage: 2011</li>
								<li><%= t 'gold_medal' %></li>
							</ul>
							<%= link_to t('see_more'), awards_path, class: 'tilted' if params['action'] != 'awards' %>
						</div>
					</div>
				</div>
			</div>
			<div class="division">
				<div class="card-mini">
					<div class="card-mini-image-container">
						<%= image_tag 'price-3.png', class: 'card-mini-image' %>
					</div>
					<div class="card-mini-caption">
						<div class="card-mini-caption-content">
							<ul class="list-unstyled">
								<li><%= t 'international_competition' %></li>
								<li>Wine and spirits vinous 2014</li>
								<li>Viento Sur Malbec</li>
								<li>Vintage: 2013</li>
								<li><%= t 'gold_medal' %></li>
							</ul>
							<%= link_to t('see_more'), awards_path, class: 'tilted' if params['action'] != 'awards' %>
						</div>
					</div>
				</div>
			</div>
			<div class="division">
				<div class="card-mini">
					<div class="card-mini-image-container">
						<%= image_tag 'price-4.png', class: 'card-mini-image' %>
					</div>
					<div class="card-mini-caption">
						<div class="card-mini-caption-content">
							<ul class="list-unstyled">
								<li><%= t 'international_competition' %></li>
								<li>Mundus Vini (Alemania)</li>
								<li>Awards 2015</li>
								<li>Viento Sur Torrontés</li>
								<li>Vintage: 2015</li>
								<li><%= t 'silver_medal' %></li>
							</ul>
							<%= link_to t('see_more'), awards_path, class: 'tilted' if params['action'] != 'awards' %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>