<% content_for :extra_js do %>
	Forms.newSubscriber({
		success: "<%= t 'forms.subscriber.success' %>",
		error: {
			unique: "<%= t 'forms.subscriber.error.unique' %>",
			unknown: "<%= t 'forms.unknown_error' %>"
		}
	});
<% end %>
<section class="content mustard relative">
	<div class="container">
		<div class="newsletter-form-container">
			<h2><i>Newsletter</i></h2>
			<p><%= t 'newsletter.text' %></p>
			<%= form_for Subscriber.new, :html => { class: 'form-horizontal' } do |f| %>
				<div class="form-group">
					<div class="col-xs-12 col-md-9">
						<%= f.email_field 'email', class: 'form-control form-control-lg', placeholder: t('your_email_here'), required: true %>
					</div>
					<div class="col-xs-12 col-md-3">
						<%= f.submit 'Enviar', class: 'btn btn-block btn-default btn-lg' %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
	<div class="map-home">
		<div id="map_canvas"></div>
	</div>
	<script type="text/javascript">
		var startMap = function() {
			Utils.startMap('map_canvas');
		};
	</script>
	<% content_for :extra_script do %>
		<script async defer src="https://maps.googleapis.com/maps/api/js?callback=startMap"></script>
	<% end %>
</section>