<section class="products">
	<article class="display" style="background-color:#d73f22">
		<div class="container">
			<div class="display-image-container">
				<%= image_tag 'viento-sur-product.png', class: 'display-image' %>
			</div>
			<div class="display-caption">
				<div class="display-caption-content">
					<%= image_tag 'viento-sur-logo.png' %>
					<p>Como un viento impredecible y fresco. Con la pasión y fuerza de la juventud quese abre paso y respira.Viento sur se arremolina suavemente y nos reúne con amigos.Nos trae risas frutadas. Nos lleva a esos buenos momentos.</p>
					<%= link_to 'Ver más.', '#', class: 'tilted corkscrew' %>
					<div class="divider"><span style="background-color:#d73f22"></span></div>
				</div>
			</div>
		</div>
	</article>
	<article class="display" style="background-color:#c6beb5">
		<div class="container">
			<div class="display-image-container">
				<%= image_tag 'acordeon-product.png', class: 'display-image' %>
			</div>
			<div class="display-caption">
				<div class="display-caption-content">
					<%= image_tag 'acordeon-logo.png' %>
					<p>En las calles, las luces tiñen de deseo el murmullo de las incontables voces. Un vino con misteriosa noche, curvas redondas y perfecto equilibrio musical.Sensuales y aterciopelados son los besos que deja en nuestra boca.</p>
					<%= link_to 'Ver más.', '#', class: 'tilted corkscrew' %>
					<div class="divider"><span style="background-color:#c6beb5"></span></div>
				</div>
			</div>
		</div>
	</article>
	<article class="display" style="background-color:#c98246">
		<div class="container">
			<div class="display-image-container">
				<%= image_tag 'finca-n-product.png', class: 'display-image' %>
			</div>
			<div class="display-caption">
				<div class="display-caption-content">
					<%= image_tag 'finca-n-logo.png' %>
					<p>Hay una fuerza omnipresente. Que hace crecer la más robusta vid en el más singular de los suelos. Que tiene la capacidad de pintar los sabores más sofisticados. Una fuerza con raíces ya echadas, que sigue aprendiendo y le regala a Finca [ñ] porte y carácter.</p>
					<%= link_to 'Ver más.', '#', class: 'tilted corkscrew' %>
					<div class="divider"><span style="background-color:#c98246"></span></div>
				</div>
			</div>
		</div>
	</article>
	<article class="display" style="background-color:#afa6a3">
		<div class="container">
			<div class="display-image-container">
				<%= image_tag 'doscumbres-product.png', class: 'display-image' %>
			</div>
			<div class="display-caption">
				<div class="display-caption-content">
					<%= image_tag 'doscumbres-logo.png' %>
					<p>Dos volcanes de apariencia calmos y contemplativos, albergan una llama intensa que se alimenta del futuro que vendrá. Con la experiencia de los años se levantan. Con un rugido se anuncian.  Doscumbres, el espiritu de los Andes.</p>
					<%= link_to 'Ver más.', '#', class: 'tilted corkscrew' %>
					<div class="divider"><span style="background-color:#afa6a3"></span></div>
				</div>
			</div>
		</div>
	</article>
	<article class="display" style="background-color:#6f4f48">
		<div class="container">
			<div class="display-image-container">
				<%= image_tag 'oroya-product.png', class: 'display-image' %>
			</div>
			<div class="display-caption">
				<div class="display-caption-content">
					<%= image_tag 'oroya-logo.png' %>
					<p>La palabra Oroya significa “Una canasta que transporta mercancías a través del río” y es símbolo de un portador de culturas, una cesta de tradiciones, de conocimiento, de folclore y autenticidad. Creado para encajar en un mundo de las diferentes culturas. Oroya, la pareja perfecta de la cocina oriental.</p>
					<%= link_to 'Ver más.', '#', class: 'tilted corkscrew' %>
					<div class="divider"><span style="background-color:#6f4f48"></span></div>
				</div>
			</div>
		</div>
	</article>
	<article class="display" style="background-color:#ecc2ba">
		<div class="container">
			<div class="display-image-container">
				<%= image_tag 'vivace-product.png', class: 'display-image' %>
			</div>
			<div class="display-caption">
				<div class="display-caption-content">
					<%= image_tag 'vivace-logo.png' %>
					<p>Mientras el sol se esconde y pierde entre risas livianas y acordes frutados, algunos secretos se comparten con palabras. Otros, se callan con divertidas miradas. Las horas vuelan y hablan sobre   las simplezas más complejas. Esos detalles que importan, se comparten con Vivace.</p>
					<%= link_to 'Ver más.', '#', class: 'tilted corkscrew' %>
					<div class="divider"><span style="background-color:#ecc2ba"></span></div>
				</div>
			</div>
		</div>
	</article>
	<article class="display" style="background-color:#c3a01c">
		<div class="container">
			<div class="display-image-container">
				<%= image_tag 'x-product.png', class: 'display-image' %>
			</div>
			<div class="display-caption">
				<div class="display-caption-content">
					<%= image_tag 'x-logo.png' %>
					<p>Alegre y misterioso. Curioso y seguro a la vez. Un espumoso que celebra con delicadas burbujas la búsqueda. Que encuentra, gracias a su esencia, la respuesta a la incógnita.</p>
					<%= link_to 'Ver más.', '#', class: 'tilted corkscrew' %>
					<div class="divider"><span style="background-color:#c3a01c"></span></div>
				</div>
			</div>
		</div>
	</article>
</section>