<%= render 'about_top' %>
<section class="content grey">
	<div class="container">
		<div class="pull-left-sm space-sm-E-40">
			<%= image_tag 'cellar-location-map.png' %>
		</div>
		<div class="caption">
			<h2><i><%= t 'location' %></i></h2>
			<p><%= t 'winery.location.text_html' %></p>
		</div>
	</div>
</section>
<section class="split-inverted">
	<div class="split-image" style="background-image:url('<%= asset_path('field-and-mountains.jpg') %>');"></div>
	<div class="split-content">
		<h2><i><%= t 'spirit' %></i></h2>
		<p class="space-xs-S-0"><%= t 'winery.spirit.title' %></p>
		<p class="line-2"><%= t 'winery.spirit.text_html' %></p>
		<p><b><i><%= t 'winery.spirit.bottom' %></i></b></p>
	</div>
</section>