<% content_for :extra_js do %>
	Utils.requestProducts();
<% end %>

<%= render 'about_top' %>
<section class="title texture">
	<div class="container">
		<h2><i><%= t 'products' %></i></h2>
	</div>
</section>
<section class="products">
	<%= render @branches %>
</section>
<section class="title">
	<div class="container">
		<h2><i><%= t 'awards' %></i></h2>
	</div>
</section>
<%= render 'awards' %>
<section class="title texture">
	<div class="container">
		<h2><i><%= t 'news' %></i></h2>
	</div>
</section>
<section class="content-limit divided divide-xs-1 divide-sm-2 divide-md-4">
	<%= render @articles, preview: true %>
</section>
<%= render 'newsletter' %>