<%= render 'about_top' %>
<section class="title texture">
	<div class="container">
		<h2><i>Productos</i></h2>
	</div>
</section>
<section class="products">
	<article class="display" style="background-color:#d73f22">
		<div class="container">
			<div class="display-image-container">
				<%= image_tag 'viento-sur-product.png', class: 'display-image' %>
			</div>
			<div class="display-caption">
				<div class="display-caption-content">
					<%= image_tag 'viento-sur-logo.png' %>
					<p>Como un viento impredecible y fresco. Con la pasión y fuerza de la juventud quese abre paso y respira.Viento sur se arremolina suavemente y nos reúne con amigos.Nos trae risas frutadas. Nos lleva a esos buenos momentos.</p>
					<%= link_to 'Ver más.', '#', class: 'tilted corkscrew' %>
					<div class="divider"><span style="background-color:#d73f22"></span></div>
				</div>
			</div>
		</div>
	</article>
	<article class="display" style="background-color:#c6beb5">
		<div class="container">
			<div class="display-image-container">
				<%= image_tag 'acordeon-product.png', class: 'display-image' %>
			</div>
			<div class="display-caption">
				<div class="display-caption-content">
					<%= image_tag 'acordeon-logo.png' %>
					<p>En las calles, las luces tiñen de deseo el murmullo de las incontables voces. Un vino con misteriosa noche, curvas redondas y perfecto equilibrio musical.Sensuales y aterciopelados son los besos que deja en nuestra boca.</p>
					<%= link_to 'Ver más.', '#', class: 'tilted corkscrew' %>
					<div class="divider"><span style="background-color:#c6beb5"></span></div>
				</div>
			</div>
		</div>
	</article>
	<article class="display" style="background-color:#c98246">
		<div class="container">
			<div class="display-image-container">
				<%= image_tag 'finca-n-product.png', class: 'display-image' %>
			</div>
			<div class="display-caption">
				<div class="display-caption-content">
					<%= image_tag 'finca-n-logo.png' %>
					<p>Hay una fuerza omnipresente. Que hace crecer la más robusta vid en el más singular de los suelos. Que tiene la capacidad de pintar los sabores más sofisticados. Una fuerza con raíces ya echadas, que sigue aprendiendo y le regala a Finca [ñ] porte y carácter.</p>
					<%= link_to 'Ver más.', '#', class: 'tilted corkscrew' %>
					<div class="divider"><span style="background-color:#c98246"></span></div>
				</div>
			</div>
		</div>
	</article>
	<article class="display" style="background-color:#afa6a3">
		<div class="container">
			<div class="display-image-container">
				<%= image_tag 'doscumbres-product.png', class: 'display-image' %>
			</div>
			<div class="display-caption">
				<div class="display-caption-content">
					<%= image_tag 'doscumbres-logo.png' %>
					<p>Dos volcanes de apariencia calmos y contemplativos, albergan una llama intensa que se alimenta del futuro que vendrá. Con la experiencia de los años se levantan. Con un rugido se anuncian.  Doscumbres, el espiritu de los Andes.</p>
					<%= link_to 'Ver más.', '#', class: 'tilted corkscrew' %>
					<div class="divider"><span style="background-color:#afa6a3"></span></div>
				</div>
			</div>
		</div>
	</article>
	<article class="display" style="background-color:#6f4f48">
		<div class="container">
			<div class="display-image-container">
				<%= image_tag 'oroya-product.png', class: 'display-image' %>
			</div>
			<div class="display-caption">
				<div class="display-caption-content">
					<%= image_tag 'oroya-logo.png' %>
					<p>La palabra Oroya significa “Una canasta que transporta mercancías a través del río” y es símbolo de un portador de culturas, una cesta de tradiciones, de conocimiento, de folclore y autenticidad. Creado para encajar en un mundo de las diferentes culturas. Oroya, la pareja perfecta de la cocina oriental.</p>
					<%= link_to 'Ver más.', '#', class: 'tilted corkscrew' %>
					<div class="divider"><span style="background-color:#6f4f48"></span></div>
				</div>
			</div>
		</div>
	</article>
	<article class="display" style="background-color:#ecc2ba">
		<div class="container">
			<div class="display-image-container">
				<%= image_tag 'vivace-product.png', class: 'display-image' %>
			</div>
			<div class="display-caption">
				<div class="display-caption-content">
					<%= image_tag 'vivace-logo.png' %>
					<p>Mientras el sol se esconde y pierde entre risas livianas y acordes frutados, algunos secretos se comparten con palabras. Otros, se callan con divertidas miradas. Las horas vuelan y hablan sobre   las simplezas más complejas. Esos detalles que importan, se comparten con Vivace.</p>
					<%= link_to 'Ver más.', '#', class: 'tilted corkscrew' %>
					<div class="divider"><span style="background-color:#ecc2ba"></span></div>
				</div>
			</div>
		</div>
	</article>
	<article class="display" style="background-color:#c3a01c">
		<div class="container">
			<div class="display-image-container">
				<%= image_tag 'x-product.png', class: 'display-image' %>
			</div>
			<div class="display-caption">
				<div class="display-caption-content">
					<%= image_tag 'x-logo.png' %>
					<p>Alegre y misterioso. Curioso y seguro a la vez. Un espumoso que celebra con delicadas burbujas la búsqueda. Que encuentra, gracias a su esencia, la respuesta a la incógnita.</p>
					<%= link_to 'Ver más.', '#', class: 'tilted corkscrew' %>
					<div class="divider"><span style="background-color:#c3a01c"></span></div>
				</div>
			</div>
		</div>
	</article>
</section>
<section class="title">
	<div class="container">
		<h2><i>Premios</i></h2>
	</div>
</section>
<section class="content">
	<div class="container">
		<div class="divided divide-xs-2 divide-sm-4">
			<div class="division">
				<div class="card-mini">
					<div class="card-mini-image-container">
						<%= image_tag 'price-1.png', class: 'card-mini-image' %>
					</div>
					<div class="card-mini-caption">
						<div class="card-mini-caption-content">
							<ul class="list-unstyled">
								<li>Competencia Internacional</li>
								<li>Mundus Vini (Alemania)</li>
								<li>Awards 2015</li>
								<li>Viento Sur Tardío</li>
								<li>Vintage: 2015</li>
								<li>Medalla de Plata</li>
							</ul>
							<%= link_to 'Ver más.', '#', class: 'tilted' %>
						</div>
					</div>
				</div>
			</div>
			<div class="division">
				<div class="card-mini">
					<div class="card-mini-image-container">
						<%= image_tag 'price-2.png', class: 'card-mini-image' %>
					</div>
					<div class="card-mini-caption">
						<div class="card-mini-caption-content">
							<ul class="list-unstyled">
								<li>Competencia Internacional</li>
								<li>Mundus Vini (Alemania)</li>
								<li>Awards 2014</li>
								<li>Doscumbres</li>
								<li>Vintage: 2011</li>
								<li>Medalla de Oro</li>
							</ul>
							<%= link_to 'Ver más.', '#', class: 'tilted' %>
						</div>
					</div>
				</div>
			</div>
			<div class="division">
				<div class="card-mini">
					<div class="card-mini-image-container">
						<%= image_tag 'price-3.png', class: 'card-mini-image' %>
					</div>
					<div class="card-mini-caption">
						<div class="card-mini-caption-content">
							<ul class="list-unstyled">
								<li>Competencia Internacional</li>
								<li>Wine and spirits vinous 2014</li>
								<li>Viento Sur Malbec</li>
								<li>Vintage: 2013</li>
								<li>Medalla de Oro</li>
							</ul>
							<%= link_to 'Ver más.', '#', class: 'tilted' %>
						</div>
					</div>
				</div>
			</div>
			<div class="division">
				<div class="card-mini">
					<div class="card-mini-image-container">
						<%= image_tag 'price-4.png', class: 'card-mini-image' %>
					</div>
					<div class="card-mini-caption">
						<div class="card-mini-caption-content">
							<ul class="list-unstyled">
								<li>Competencia Internacional</li>
								<li>Mundus Vini (Alemania)</li>
								<li>Awards 2015</li>
								<li>Viento Sur Torrontés</li>
								<li>Vintage: 2015</li>
								<li>Medalla de Plata</li>
							</ul>
							<%= link_to 'Ver más.', '#', class: 'tilted' %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="title texture">
	<div class="container">
		<h2><i>Novedades</i></h2>
	</div>
</section>
<section class="content-limit divided divide-xs-2 divide-sm-4">
	<div class="division">
		<div class="card">
			<div class="card-image-container">
				<%= image_tag 'news-1.jpg', class: 'card-image' %>
			</div>
			<div class="card-caption">
				<h3 class="card-title">Viento Sur Fruity & Sweet</h3>
				<p class="card-text">Finca Ferrer, la bodega argentina del Grupo Freixenet, tiene una novedad dulce: Viento Sur Fruity & Sweet. Se trata de un varietal 100% Malbec elaborado en Gualtallary, Valle de Uco, Mendoza, a partir de uvas cosechadas a mano en un terroir a 1300 metros sobre el nivel del mar....</p>
				<%= link_to 'Ver más.', '#', class: 'tilted' %>
			</div>
		</div>
	</div>
	<div class="division">
		<div class="card">
			<div class="card-image-container">
				<%= image_tag 'news-2.jpg', class: 'card-image' %>
			</div>
			<div class="card-caption">
				<h3 class="card-title">La primavera trae un Malbec Fresco y Dulce</h3>
				<p class="card-text">Se trata de un varietal 100% Malbec elaborado en Gualtallary, Valle de Uco, Mendoza, a partir de uvas cosechadas a mano en un terroir a 1300 metros sobre el nivel del mar, ideal para obtener uvas de gran calidad...</p>
				<%= link_to 'Ver más.', '#', class: 'tilted' %>
			</div>
		</div>
	</div>
	<div class="division">
		<div class="card">
			<div class="card-image-container">
				<%= image_tag 'news-3.jpg', class: 'card-image' %>
			</div>
			<div class="card-caption">
				<h3 class="card-title">Vino torrontés: 10 opciones para celebrar la llegada de la primavera</h3>
				<p class="card-text">La propuesta tiene algo de arbitrario, es cierto, pero qué mejor que celebrar la llegada de la primavera con vinos tan refrescantes y bebibles como pueden ser los modernos torronteses. Hace rato que buena parte de los blancos que...</p>
				<%= link_to 'Ver más.', '#', class: 'tilted' %>
			</div>
		</div>
	</div>
	<div class="division">
		<div class="card">
			<div class="card-image-container">
				<%= image_tag 'news-4.jpg', class: 'card-image' %>
			</div>
			<div class="card-caption">
				<h3 class="card-title">Viento de Primavera</h3>
				<p class="card-text">Con los nuevos aires de esta primavera, Finca Ferrer, la bodega argentina del Grupo Freixenet, tiene una novedad dulce: Viento Sur Fruity & Sweet. Se trata de un varietal 100% Malbec elaborado en Gualtallary, Valle de Uco, Mendoza, a partir de uvas cosechadas a mano en un terroir...</p>
				<%= link_to 'Ver más.', '#', class: 'tilted' %>
			</div>
		</div>
	</div>
</section>
<section class="content mustard relative">
	<div class="container">
		<div class="newsletter-form-container">
			<h2><i>Newsletter</i></h2>
			<p>Suscribite para recibir las ultimas novedades sobre promociones y lanzamientos.</p>
			<%= form_tag '#', class: 'form-horizontal' do %>
				<div class="form-group">
					<div class="col-xs-9">
						<%= email_field_tag 'email', nil, class: 'form-control form-control-lg', placeholder: 'Tu email aquí' %>
					</div>
					<div class="col-xs-3">
						<%= submit_tag 'Enviar', class: 'btn btn-block btn-default btn-lg' %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
	<div class="map-home">
		<div id="map_canvas"></div>
	</div>
	<script type="text/javascript">
		var startMap = function() {
			Utils.startMap('map_canvas');
		};
	</script>
	<% content_for :extra_script do %>
		<script async defer src="https://maps.googleapis.com/maps/api/js?callback=startMap"></script>
	<% end %>
</section>