<h1>Listing Contacts</h1>

<div class="model-list-header">
  <span style="width: 40%">Nombre</span>
  <span>Email</span>
</div>

<ul class="list-unstyled model-list">
  <% @contacts.each do |contact| %>
    <li>
      <span style="width: 40%"><%= contact.name %></span>
      <span style="width: calc(60% - 130px)"><%= contact.email %></span>
      <span class="control">
        <%= link_to contact, class: 'open' do %>
          <i class="fa fa-border fa-folder-open"></i>
        <% end %>
        <%= link_to edit_contact_path(contact), class: 'edit' do %>
          <i class="fa fa-border fa-edit"></i>
        <% end %>
        <%= link_to contact, method: :delete, data: { confirm: 'Are you sure?' }, class: 'trash' do %>
          <i class="fa fa-border fa-trash"></i>
        <% end %>
      </span>
    </tr>
  <% end %>
</ul>

<!--<%= link_to 'New Contact', new_contact_path %>-->
