<h1>Listing Subscribers</h1>

<ul class="list-unstyled model-list">
  <% @subscribers.each do |subscriber| %>
    <li>
      <span style="width: calc(100% - 115px)"><%= subscriber.email %></span>
      <span class="control">
        <%= link_to subscriber, class: 'open' do %>
          <i class="fa fa-border fa-folder-open"></i>
        <% end %>
        <%= link_to edit_subscriber_path(subscriber), class: 'edit' do %>
          <i class="fa fa-border fa-edit"></i>
        <% end %>
        <%= link_to subscriber, method: :delete, data: { confirm: 'Are you sure?' }, class: 'trash' do %>
          <i class="fa fa-border fa-trash"></i>
        <% end %>
      </span>
    </tr>
  <% end %>
</ul>

<!--<%= link_to 'New Subscriber', new_subscriber_path %>-->
