<div class="col-sm-6 padding-odd-even">
	<div class="display-mini">
		<div class="display-mini-image-container">
			<%= image_tag product.image(:normal), class: 'display-mini-image' %>
		</div>
		<div class="display-mini-caption">
			<div class="display-mini-caption-content">
				<h3><i><%= product.t :title %>:</i></h3>
				<p><%= product.t :text %></p>
				<%= link_to t('download_individual_file'), product.file_url, class: 'tilted corkscrew', download: product.download unless product.file.blank? %>
			</div>
		</div>
		<div class="divider"><span style="background-color:<%= product.branch.color %>"></span></div>
	</div>
</div>