<div class="col-sm-6 padding-odd-even">
	<div class="display-mini">
		<div class="display-mini-image-container">
			<%= image_tag product.image(:normal), class: 'display-mini-image' %>
		</div>
		<div class="display-mini-caption">
			<div class="display-mini-caption-content">
				<h3><i><%= product.t :title %>:</i></h3>
				<p><%= product.t :text %></p>
				<div>
					<%= link_to t('download_individual_file'), product.file_url, class: 'tilted corkscrew', download: product.download unless product.file.blank? %>
				</div>
				<div>
					<%= link_to t('words.buy'), product.purchase_url, class: 'btn btn-default' + (product.file.present? ? ' space-xs-N-30' : ''), target: '_blank' if product.purchase_url.present? %>
				</div>
			</div>
		</div>
		<div class="divider"><span style="background-color:<%= product.branch.color %>"></span></div>
	</div>
</div>