<h1>Listing Products</h1>

<div class="model-list-header">
  <span style="width: 30%">Branch</span>
  <span>Title</span>
</div>

<ul class="list-unstyled model-list">
  <% @products.each do |product| %>
    <li>
      <span style="width: 30%"><%= product.branch.title %></span>
      <span style="width: calc(70% - 130px)"><%= product.title %></span>
      <span class="control">
        <%= link_to product, class: 'open' do %>
          <i class="fa fa-border fa-folder-open"></i>
        <% end %>
        <%= link_to edit_product_path(product), class: 'edit' do %>
          <i class="fa fa-border fa-edit"></i>
        <% end %>
        <%= link_to product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'trash' do %>
          <i class="fa fa-border fa-trash"></i>
        <% end %>
      </span>
    </tr>
  <% end %>
</ul>

<%= link_to 'New Product', new_product_path %>
