<p>
  <strong>Branch:</strong>
  <%= @product.branch.title %>
</p>

<p>
  <strong>Title:</strong>
  <%= @product.t :title, :es %>
</p>

<p>
  <strong>English Title:</strong>
  <%= @product.t :title, :en %>
</p>

<p>
  <strong>Text:</strong>
  <%= @product.t :text, :es %>
</p>

<p>
  <strong>English Text:</strong>
  <%= @product.t :text, :en %>
</p>

<p>
  <strong>File:</strong>
  <%= @product.file_file_name %>
</p>

<p>
  <strong>English File:</strong>
  <%= @product.file_en_file_name %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @product.image %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
