<% content_for :extra_js do %>
	Forms.newContact();
<% end %>
<footer>
	<div class="container">
		<div class="col-sm-4">
			<div class="brand">
				<%= link_to root_path do %>
					<%= image_tag 'logo-finca-ferrer-black.png' %>
				<% end %>
			</div>
			<ul class="list-unstyled footer-data">
				<li>
					<%= image_tag 'icon-place.png' %>
					<b>Mendoza:</b> Camino Estancia Silva S/N, Gualtallary, Tupungato, Provincia de Mendoza.<br>
					<b>Buenos Aires:</b> Avenida Sucre 2074, 1er piso, Of 6, B1643AQO Beccar, Buenos Aires, Argentina.
				</li>
				<li>
					<%= image_tag 'icon-cellphone.png' %>
					<%= link_to '+54 11 4719 7320', 'tel:+541147197320' %>
				</li>
				<li>
					<%= image_tag 'icon-mail.png' %>
					<%= link_to 'contacto@fincaferrer.com', 'mailto:contacto@fincaferrer.com' %>
				</li>
			</ul>
		</div>
		<div class="col-sm-3">
			<div class="footer-social hidden">
				<%= image_tag 'icon-facebook-black.png' %>
				<p>Seguinos en Facebook y conectate con nosotros</p>
				<%= link_to 'Me Gusta', '#', class: 'btn btn-lg btn-primary' %>
			</div>
		</div>
		<div class="col-sm-5">
			<h3><i><%= t 'contact_us' %></i></h3>
			<%= form_for Contact.new do |f| %>
				<div class="form-group">
					<%= f.text_field 'name', class: 'form-control', placeholder: t('name'), required: true %>
				</div>
				<div class="form-group">
					<%= f.email_field 'email', class: 'form-control', placeholder: t('email'), required: true %>
				</div>
				<div class="form-group">
					<%= f.text_area 'message', class: 'form-control', placeholder: t('message'), rows: 3, required: true %>
				</div>
				<div class="form-group">
					<%= f.submit t('send_message'), class: 'btn btn-lg btn-primary' %>
				</div>
			<% end %>
		</div>
	</div>
	<div class="footer-footer">
		&reg; 2016 - Finca Ferrer. <%= t 'all_rights_reserved' %>&nbsp;&nbsp;&nbsp;Powered by
		<%= link_to 'http://www.vertigodesign.com.ar', taget: '_blank' do %>
			<%= image_tag 'logo-vertigo.png' %>
		<% end %>
	</div>
</footer>