<%= render 'admins/fixed_buttons' %>
<header>
	<div class="header-container">
		<div class="brand">
			<%= link_to root_path do %>
				<%= image_tag 'logo-finca-ferrer.png' %>
			<% end %>
		</div>
		<div class="navigation">
			<nav role="navigation">
				<ul class="list-inline">
					<li><%= link_to t('home'), root_path, class: nav_class('home') %></li>
					<li><%= link_to t('our_winery'), about_path, class: nav_class('about') %></li>
					<li><%= link_to t('products'), branches_page_path, class: nav_class(['products', 'branches']) %></li>
					<li><%= link_to t('news'), news_path, class: nav_class(['news', 'news_article']) %></li>
					<li><%= link_to t('contact'), contact_page_path, class: nav_class('contact') %></li>
				</ul>
			</nav>
		</div>
		<div class="header-social hidden">
			<div class="header-social-container">
				<%= link_to '#', class: 'facebook' do %>
					<%= image_tag 'icon-facebook.png', class: 'icon-facebook' %>
				<% end %>
				<p>Seguinos en Facebook y conectate con nosotros</p>
				<a href="#" class="btn btn-default">Me Gusta</a>
			</div>
		</div>
	</div>
</header>