<%= render 'admins/fixed_buttons' %>
<header>
	<div class="header-container">
		<div class="brand">
			<%= link_to root_path do %>
				<%= image_tag 'logo-finca-ferrer.png' %>
			<% end %>
		</div>
		<div class="navigation">
			<nav role="navigation">
				<ul class="list-inline">
					<li><%= link_to t('home'), root_path, class: nav_class('home') %></li>
					<li><%= link_to t('our_winery'), about_path, class: nav_class('about') %></li>
					<li><%= link_to t('products'), branches_page_path, class: nav_class(['products', 'branches']) %></li>
					<li><%= link_to t('news'), news_path, class: nav_class(['news', 'news_article']) %></li>
					<li><%= link_to t('contact'), contact_page_path, class: nav_class('contact') %></li>
				</ul>
			</nav>
		</div>
		<div class="locale-switcher">
			<a href="<%= locale_href :es %>" class="<%= locale_class :es %>">ES</a>
			|
			<a href="<%= locale_href :en %>" class="<%= locale_class :en %>">EN</a>
		</div>
		<div class="toggle-menu">
			<a href="#"><i class="fa fa-bars"></i></a>
		</div>
		<%= render 'layouts/social', social_class: 'hidden-xs' %>
	</div>
</header>
<div class="navigation">
	<nav role="navigation">
		<ul class="list-inline">
			<li><%= link_to t('home'), root_path, class: nav_class('home') %></li>
			<li><%= link_to t('our_winery'), about_path, class: nav_class('about') %></li>
			<li><%= link_to t('products'), branches_page_path, class: nav_class(['products', 'branches']) %></li>
			<li><%= link_to t('news'), news_path, class: nav_class(['news', 'news_article']) %></li>
			<li><%= link_to t('contact'), contact_page_path, class: nav_class('contact') %></li>
		</ul>
		<%= render 'layouts/social', social_class: 'visible-xs' %>
	</nav>
</div>