<!DOCTYPE html>
<html lang="es">
<head>
	<%= render 'layouts/head' %>
  <%= csrf_meta_tags %>
</head>
<body class="admin">
<%= render 'layouts/navigation' %>
<%= render 'layouts/main_image' %>
<section class="content admin">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<%= yield %>
			</div>
		</div>
	</div>
</section>
<%= render 'layouts/footer' %>
<%= render 'modals/generic' %>
<%= render 'modals/notice' %>
<script>
  $(function() {
  	<%= yield :extra_js if content_for? :extra_js %>
  });
</script>
</body>
</html>
